<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.base6/menu.application.title" opened="true">
        <item view="MyOnboardingView" title="msg://com.company.base6.view.myonboarding/myOnboardingView.title"/>
        <item view="User.list" title="msg://com.company.base6.view.user/UserListView.title"/>
        <item view="UnitMeasure.list" title="msg://com.company.base6.view.unitmeasure/unitMeasureListView.title"/>
        <item view="Material.list" title="msg://com.company.base6.view.material/materialListView.title"/>
        <item view="Parametrsize.list" title="msg://com.company.base6.view.parametrsize/parametrsizeListView.title"/>
        <item view="Typeworkpiece.list" title="msg://com.company.base6.view.typeworkpiece/typeworkpieceListView.title"/>
        <item view="Fullnamematerial.list"
              title="msg://com.company.base6.view.fullnamematerial/fullnamematerialListView.title"/>
        <item view="Workpiece.list" title="msg://com.company.base6.view.workpiece/workpieceListView.title"/>
        <item view="Department.list" title="msg://com.company.base6.view.department/departmentListView.title"/>
        <item view="Specification.list" title="msg://com.company.base6.view.specification/specificationListView.title"/>
        <item view="StatusZayavka.list" title="msg://com.company.base6.view.statuszayavka/statusZayavkaListView.title"/>
        <item view="TypeSupplier.list" title="msg://com.company.base6.view.typesupplier/typeSupplierListView.title"/>
        <item view="Supplier.list" title="msg://com.company.base6.view.supplier/supplierListView.title"/>
        <item view="Request.list" title="msg://com.company.base6.view.request/requestListView.title"/>
        <item view="Operation.list" title="msg://com.company.base6.view.operation/operationListView.title"/>
        <item view="Basket.list" title="msg://com.company.base6.view.basket/basketListView.title"/>
        <item view="WorkpieceImages.list"
              title="msg://com.company.base6.view.workpieceimages/workpieceImagesListView.title"/>
        <item view="Step.list" title="msg://com.company.base6.view.step/stepListView.title"/>

    </menu>

</menu-config>